.settings {

    line-height: 38px;
    font-size: 20px;

    /* margin-bottom: 200px; */

}

/* HLAVNE SEKCIE */

.flexbox-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* ITEM 1 */

.item1 {
    line-height: 80px;
    font-size: 20px;
    margin-bottom: 80px;
}

.item1 h2 {
    font-size: 60px;
    letter-spacing: 1px;
}

.item1 h3{
    font-weight: normal;
    margin-bottom: 40px;
    font-size: 42px;
    text-indent: 172px;
    letter-spacing: .3;
}

@media screen and (max-width: 730px) {

    .item1 h3{
        font-size: 35px;
        text-indent: 0px;
    }

    .item1 {
        margin-bottom: 0;
    }

}


@media screen and (max-width: 355px) {

    .item1 h3{
        font-size: 30px;
        text-indent: 0px;
    }

}


@media screen and (max-width: 306px) {

    .item1 h3{
        font-size: 28px;
        text-indent: 0px;
    }

}


/* SOCIAL ICONS */

.social-icons {

    margin-left:40px;
    display: flex;
    flex-direction: column;

}

@media screen and (max-width: 470px){

    .social-icons{
        flex-direction: row;
        
        justify-content: center;
        
        margin-top: 40px;
    }

    .social-icons a {

        margin-left: 25px;

        margin-right: 60px;
       
    }
    
}

.social-icons a {
    
    font-size: 27px;

    color: black;

    width: 42px;
    height: 42px;
    background: #6c63ff;
    
    border-radius: 50%;
    margin-top: 15px;

    padding: 0.11em 0.29em;
    
}

.lin {

    padding-left: 0.06em;

}


/* HOVERS */
.btn:focus, 
.btn:hover,
.btn:active {
        
        background: transparent;
        color: #6c63ff;
}

/* BUTTON */

.btn{
    color:white ;
    text-transform: uppercase;
    border: 1px solid #6c63ff;
    padding: 20px 50px 20px 50px;
    background:#6c63ff;
}

/* ABOUT ME */

.about-me {
    margin-bottom: 40px;
}

.about-me p {
    margin-bottom: 20px;
    
}
.about-me h2 {
    
    padding-bottom: 10px;
   
    font-weight: 800;
}

/* .about-me p:first-child {
    margin: 0
} */

/* WORKS */

.works h2 {
    margin-bottom: 40px;
}

.works .headline  {
    margin-bottom: 40px;
}

.flexbox-container-works {

    display: flex;

    justify-content: center;

    align-items: center;
}

/* Obrazkovy hover nastavenie */

.image {

    position: relative;
    margin-right: 40px;
    width: 350px;
}

.image--img {

    display: block;
    width: 100%;
    
}

.image--overlay{

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height:100%;

    background: rgba(0, 0, 0,0.6);
    color: #ffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    opacity: 0;
    transition: opacity 0.25s;

}

.image--overlay > * {

    transform: translateY(20px);

    transition: transform 0.25s;

}

.image--overlay:hover {

    opacity: 1;

}

.image--overlay--blur {

    backdrop-filter: blur(5px);
}

/* .image--overlay--primary {

    background: #006699;
} */

.image--overlay:hover > * {

    transform: translateY(0);

}

.image--title a{

    color: #ffff;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
}

.image--description {

    font-size: 1.00em;
    margin-top: 0.25em;

}

/* SKILLS */

.skills {
        padding-bottom: 50px;
}
.skills h2 {
    margin-bottom: 40px;
    
}

/* ANIMATIONS */

.hidden {
    opacity: 0;

    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;

    filter: blur(0);
    transform: translateX(0);
}

/* LOADER */

.loader {

    position: fixed;
    top: 0;
    left: 0;

    z-index: 9999;

    background: white;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.disppear {
    animation: vanish 1s forwards;
}

.spinner {

  width: 44px;
  height: 44px;

  animation: spinner 2s infinite ease;
  transform-style: preserve-3d;

}

.spinner > div { 

  position: absolute;

  background-color: #6c63ff;

  height: 100%;
  width: 100%;

}

@keyframes vanish {

   
    100% {
        opacity: 1;
        visibility: hidden;
    }

}

@keyframes spinner {

  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }

}