.main-footer  {
    border: 1px solid black;
}

.main-footer p,
.flex-item2  {
    margin:  20px ;
}

.footer-flexbox {
    display: flex;

    
}

.flex-item2 {
    margin-left: auto;  
}

.flex-item2 a {
    color: black;
}

.flex-item2 a:hover,
.flex-item2 a:active,
.flex-item2 a:focus {

    color: #6c63ff;

    transition: all ease-in-out 1s;
}

