.main-header{

    margin-bottom: 200px;
    
}

.menu {
    
    list-style: none;

    padding-left: 0;

    margin: 0;

}

.main-nav {

    display: flex;
    
    justify-content: center;

}

.main-nav li {

    display: inline-block;
    margin: 1.75em 0.313em;

}

.main-nav a {

    padding: 0.385em 0.769em 0.385em;

    color: black;

    text-decoration: none;

    text-transform: lowercase;

    font-size: 1em;

    letter-spacing: 0.077em;

}

.main-nav a:hover,
.main-nav a:active,
.main-nav a:focus {

    color: #6c63ff;
    transition: all ease-in-out 1s;
}

.li-btn a{

    border: 1px solid black;
    padding: 15px;

}

/* LOGO */

.logo {

    text-align: left;
    position: absolute;
    left: 40px;
    top: -10px;

}

.logo a {
    
    font-size: 20px;
    color: black;
    

}
